<!DOCTYPE html>
<html>
  <head>
    <title>DeviseSampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= link_to "ãƒ–ãƒ­ã‚°ä¸€è¦§", blogs_path %>
      <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
      <%= "ðŸ§¡" if current_user.admin? %>
    <% else %>
      <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path %>
      <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
